body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top:0;
}



#app {
    display: flex;
    max-width:61.25rem;
    width: auto;
    flex-direction: column;
    padding-left:1rem;
    padding-right:1rem;
}

#menu{
    display:flex;
    justify-self: center;
    padding : 1rem;
    font-weight: bold;
}

option{
    font-weight: bold;
}

.nav{
    display:flex;
    margin-left:-1rem;
    margin-top:0;
    width:105%;
    height: auto;
    justify-content:space-around;
    margin-bottom:0;
    border: 0;
    flex-flow: row wrap;
}

.nav > ul{
    padding-inline-start: 0px;
}

.nav > ul > li{
    display: flex;
    justify-content:space-around;
    flex: 1 0 6rem;
}

.budget-name{
    
    color: red;
    margin-top:1rem;
}

.category-name{
    color: blue;
    margin-top:2rem;
    margin-bottom:0.5rem;
}

.expense-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top:25px;
}

.expense-row, .expense-row-header{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.expense-row-header{
    margin-bottom: 0.25rem;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.expense-row{
    min-height: 5rem;
}

@media screen and (max-width: 415px) {
    #app, .nav{
        padding-left:0.2rem;
        padding-right:0.2rem;
    }
    body{
        margin:0;
    }
}

.expense-item{
    display:flex;
    width: 100%;
    margin-left:0.1rem;
    margin-right:0.1rem;
}

.expense-row:nth-child(even){
    background-color: powderblue;
}

.expense-amount{
    max-width:7rem;
}

.expense-date{

}

.expense-recipient{

}

aside{
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    background-color:aliceblue;
    min-width:150px;
    padding:25px;
    width:20%;
    border:1px solid black;
    margin-top:48px;
    gap:10px;
    height:fit-content;
}

aside > .menu-item{
    display:flex;
    width:100%;
    padding:20px 0 20px 0;
    border-bottom: 1px solid black;
}

main{
    display:flex;
    flex-direction: row;
    min-height:calc(100% - 270px);
    justify-content: space-around;
}

.main-container{
    position: relative;
    display:flex;
    flex-direction: row;
    background-color: aliceblue;
    width:80% ;
}

#article {
    display: flex;
    flex-direction: column;
    padding: 25px;
    width:100%;
}

#menu{
    max-width:10rem;
}